
{% extends "blog/base.html" %}
{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto">
              <div class="site-heading">
                  <h1>{{ post.title }}</h1>
                  <p class="post-meta">Posted by  {{ post.author }} on {{ post.date_posted|date:"F d , Y" }}</p>
          </div>
      </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
      <div class="post-preview">
            <h3 class="post-subtitle">{{ post.content }}</h3>
        </a>
        
      </div>
      {% if object.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-edit' object.id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      {% endif %}
      <hr> 
{% endblock content %}
