
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<header class="masthead" style="background-image:url('{{ user_profile.profile.bg_img.url }}');">
      <div class="overlay"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-lg-8 mx-auto">
                  <div class="site-heading" style="padding-bottom: 30px; padding-top: 100px;">
                    <img class="rounded-circle account-img"  style="width: 120px;" src="{{ user_profile.profile.image.url }}">
                      <h1>{{ name }}</h1><span class="subheading">{{ user_profile.email }}</span></div>
              </div>
          </div>
      </div>
    </header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
      <div class="post-preview">
            <h3 class="post-subtitle">{{ post.content }}</h3>
        </a>
        
      </div>
      {% if object.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-edit' object.id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      {% endif %}
      <hr> 
{% endblock content %}

<!--   view.kwargs.username -->